<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">




    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" formControlName="FirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
        <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
            <div *ngIf="f.FirstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" formControlName="LastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
        <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
            <div *ngIf="f.LastName.errors.required">Last Name is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="passwd">Password</label>
        <input type="passwd" formControlName="passwd" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passwd.errors }" />
        <div *ngIf="submitted && f.passwd.errors" class="invalid-feedback">
            <div *ngIf="f.passwd.errors.required">Password is required</div>
            <div *ngIf="f.passwd.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
  <div class="form-group">
    <label for="UserType">Types</label>
    <select formControlName="UserType" type="UserType" (change)="changeType($event)" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserType.errors }">
      <option *ngFor="let type of UserType;" >
        {{type.name}}
      </option>
    </select>
  </div>
  <div class="form-group" *ngIf="selectedType == 'Student'|| selectedType == 'Instructor'">
    <label for="Depcode">Department Code</label>
    <input type="Depcode" formControlName="Depcode" class="form-control" />

  </div>
  <div class="form-group" *ngIf="selectedType == 'Student'">
    <label for="Mail">Mail</label>
    <input type="Mail" formControlName="Mail" class="form-control" />

  </div>
  <div class="form-group" *ngIf="selectedType == 'Student'">
    <label for="SemesterNo">Semester Number</label>
    <input type="SemesterNo" formControlName="SemesterNo" class="form-control" />

  </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
